<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.student.integration.mappers.FileMapper">
    <select id="getFiles" resultMap="fileResultMap">
        <include refid="com.student.integration.mappers.SubjectMapper.paginationStartSql"/>
        select
        files.*,
        CASE WHEN userfilesMarks.user_id = #{userId}
        THEN 0
        ELSE 1
        END AS isMarkable
        FROM FILES
        left join SUBJECTS_FILES subj_files ON subj_files.FILE_ID = files.ID
        left join (select * from USERS_FILES_MARKS usersMarks where usersMarks.USER_ID = #{userId}) userfilesMarks on userFilesMarks.file_id = files.ID
        <if test="subjectId != null">where subj_files.SUBJECT_ID = #{subjectId}</if>
        <if test="criteria != null">and name = #{criteria}</if>
        <include refid="com.student.integration.mappers.SubjectMapper.paginationEndSql"/>
    </select>

    <select id="getFile" resultMap="fileResultMap">
        select * from FILES where ID = #{id}
    </select>

    <insert id="insertFile" useGeneratedKeys="true" keyColumn="id" keyProperty="file.id">
		insert into FILES(FILENAME, DESCRIPTION, URL, RATING, RATING_COUNT, CREATE_USER_ID, CREATE_DATE)
		values (#{file.name}, #{file.description}, #{file.url}, #{file.rating}, #{file.ratingCount}, #{file.createUserId}, #{file.createDate})
	</insert>

    <insert id="addFileSubjectAssociation">
        insert into SUBJECTS_FILES (SUBJECT_ID, FILE_ID) VALUES
        (#{subjectId}, #{fileId})
    </insert>

    <update id="updateFile">
      update FILES set
        FILENAME = #{file.name},
        DESCRIPTION = #{file.description},
        URL = #{file.url},
        RATING = #{file.rating},
        RATING_COUNT = #{file.ratingCount}
        where ID = #{file.id}
    </update>

    <delete id="deleteFile">
        delete from FILES where ID = #{id}
    </delete>

    <resultMap id="fileResultMap" type="com.student.integration.model.File" autoMapping="true">
        <result property="createUserId" column="create_user_id"/>
        <result property="createDate" column="create_date"/>
        <result property="ratingCount" column="rating_count"/>
        <result property="name" column="filename"/>
    </resultMap>

    <update id="markFilePositive">
        update FILES set
          RATING_COUNT = RATING_COUNT+1,
          RATING = RATING+1
          WHERE ID=#{id}
    </update>

    <update id="markFileNegative">
         update FILES set
          RATING_COUNT = RATING_COUNT+1
          WHERE ID=#{id}
    </update>

    <insert id="userMarkedFile">
        insert into USERS_FILES_MARKS(FILE_ID, USER_ID) VALUES(#{id}, #{userId})
    </insert>
</mapper>