<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.student.integration.mappers.UserMapper">
    <select id="getUser" resultMap="userResultMap">
        select * from USERS where ID = #{id}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyColumn="id" keyProperty="user.id">
		insert into USERS(EMAIL, DISPLAY_NAME)
		values (#{user.email}, #{user.displayName})
	</insert>

    <update id="updateUser">
      update USERS set
        display_name = #{user.displayName}
        where ID = #{user.id}
    </update>

    <delete id="deleteUser">
        delete from USERS where ID = #{id}
    </delete>

    <resultMap id="userResultMap" type="com.student.integration.model.User" autoMapping="true">
        <result property="displayName" column="display_name"/>
    </resultMap>
</mapper>